.main-register {
	min-height: 100vh;

	background-color: var(--clr-1);

	@media (min-width: $medium-breakpoint) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		color: var(--clr-2);
		text-align: center;
		padding: 0.5em 0;
		@media (min-width: $medium-breakpoint) {
			font-size: 3.5rem;
			padding: 1.5rem 0;
		}
	}
    .info{
        color: var(--clr-2);
        a{
            text-decoration: none;
            color: var(--clr-5);
            &:hover{
                text-decoration:underline;
            }
        }
    }
	.register-form {
        @extend .general-form;
        
    }
    
    .register-done-container {
      
        padding: 0.5rem;
        p{
            color: var(--clr-2);
            text-align: center;
            padding: 0.5rem 0;
        }
        
    }
}
